.Container {
  display: flex;
  min-height: 0vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Item-top {
  align-self: flex-start;
}

.Item {
  min-width: 100px;
  max-width: 400px;
  flex-basis: auto;
  flex-grow: 2;
}

.Item-bottom {
  align-self: flex-end;
}

.Item-content {
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center
}