.Layout {
  margin: 3rem auto;
  max-width: 650px;
  padding: 0 1rem;

  display: flex;
  min-height: 0vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center
}

.NavBarLink {
  display: inline-block;
  margin-right: 1rem;
}

.FooterLink {
  display: inline-block;
  margin-right: 1rem;
  min-width: 150px;
  text-align: "center";
}

.Footer {
  margin-top: 2.5rem
}