.Layout {
  margin: 3rem auto;
  max-width: 900px;
  padding: 0 1rem;

  display: flex;
  min-height: 0vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.NavBarLink {
  display: inline-block;
  margin-right: 1rem;
}

.Header {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-items: center;
}

.FooterLink {
  margin-left: 5px;
  margin-right: 5px;
  text-align: "center";
}

.Footer {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  flex-wrap: wrap;
}
